@import './styles/ViewModel.scss';

html,body, #root, .rootBody {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.Breadcrumb{
  font-size: 16px;
}

.picImgClass{
  width: 200px;
  height: 150px;
}

.chartStyle{
  float: left;
  margin-left: 150px;
}
